.menu-wrap {
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: white 5px solid;
}
.menu-nav {
    display: flex;
    align-items: center;
}
.menu-logo {
    display: flex;
    align-items: center;
}
.menu-nav h3 {
    color: white;
    margin: 0 50px;
    cursor: pointer;
}
.menu-logo h1 {
    color: aqua;
    margin: 0 250px;
    cursor: pointer;
}