@media screen and (max-width: 870px) {
    .menu-nav {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
    .menu-logo h1 {
        color: aqua;
        margin: 0 50px;
        cursor: pointer;
    }
    .menu-burger {
        margin-top: 20px;
        margin-left: 40px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .menu-burger span {
        width: 48px;
        height: 7px;
        background-color: white;
        border-radius: 5px;
        position: relative;
    }
    .menu-burger span::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        top: 15px;
        border-radius: 5px;
    }
    .menu-burger span::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
        position: absolute;
        bottom: 15px;
        border-radius: 5px;
    }
}