.menu {
    background: linear-gradient(to top, #6da87f, #6d7c7f);
    border-bottom: 10px white solid;
}
.nav-menu {
    height: 110px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.nav-menu h3 {
    margin: 0 70px;
    cursor: pointer;
}